.feedback-text {
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #0C1617;
}

.feedback-gesture-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-imoji {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.prescreen-img {
    height:  471px;
    width: 720px;
}

@media screen and (min-width: 700px) {
    
}