.support-container {
    width: 100%;
    display: flex;
    flex-direction: column!important;
    justify-content: flex-start!important;
    align-items: flex-start!important;
    padding: 32px!important;
}

.support-content {
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    /* flex-direction: row; */
    /* justify-content: space-between; */
    gap: 12px;
    margin-top: 32px;
    margin-bottom: 12px;
    width: 100%;
    box-sizing: border-box;
}

.support-section {
    background-color: #FFFFFF;
    padding: 32px 53px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* justify-content: center; */
    /* justify-content: center; */
    align-items: center;
    flex: 1;
    height: 223px;
    webkit-box-shadow: -1px -1px 16px 1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -1px -1px 16px px rgba(0, 0, 0, 0.425);
    box-shadow: -1px -1px 16px 1px rgba(0, 0, 0, 0.35);
}

.faqs {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 32px;
    margin-top: 32px;
    width: 100%;
    overflow-y: scroll;
    /* flex: 1 */
    height: 400px;
}

.faqs::-webkit-scrollbar {
    display: none;
}

.faq {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 8px;
    width: 100%;
    background-color: #F6F7F8;
    padding: 10px;
    border-radius: 4px;
}

.faq-title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    color: #0C1617;
}

.faq-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    padding: 8px;
    cursor: pointer;
}

.faq-text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 24px;
    color: #4E555D;
}

@media (max-width: 700px) {
    .support-content {
        flex-direction: column;
    }
    .support-section {
        background-color: transparent;
        padding: 0;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 16px 0;
        height: auto;
        webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .faq {
        background-color: transparent;
        border-bottom: 1px;
        border-bottom-color: #EAEAEA;
    }
}