.alco-bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100dvh;
    z-index: 5000;
    background-color: #0C161780;
    position: absolute;
    padding: 34px;
}

.alco-result-modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #FFFFFF;
    max-width: 550px;
    padding: 24px;
    gap: 36px;
    border-radius: 16px;
    text-align: left;
}
.alco-result-edit {
    height: 24px;
    width: 24px;
}

.result-span {
    color: #EF4444;
}

.alco-continue-btn {
    align-self: flex-end;
    width: 50%;
    height: 51px;
    border-radius: 8px;
    color: #4E555D;
    border: none;
    padding: 16px;
    font-size: 16px;
    border: 1px solid  #AAB5C2;
}

.alco-text-title{
    font-size: 34px;
    font-weight: 600;
    text-align: left;
    color: #0C1617;
    line-height: 40px;
}