.id-card {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .id-card-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .id-card-details p {
    margin: 8px 0;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .id-card-details strong {
    color: #555;
  }
  
  .id-card-details {
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  }
  
  .link-con {
    border-radius: 8px;
    background-color: #009CF9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }